################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.sqlite
*.json
/PowerLifter/.vs/PowerLifter/DesignTimeBuild/.dtbcache.v2
/PowerLifter/.vs/PowerLifter/FileContentIndex/62d26b78-88af-46b9-8249-12f5bff3573f.vsidx
/PowerLifter/.vs/PowerLifter/FileContentIndex/91455235-ea78-4153-b5c5-271478d067bc.vsidx
/PowerLifter/.vs/PowerLifter/v17/.futdcache.v2
/PowerLifter/.vs/PowerLifter/v17/.suo
/PowerLifter/.vs/ProjectEvaluation/powerlifter.metadata.v7.bin
/PowerLifter/.vs/ProjectEvaluation/powerlifter.projects.v7.bin
/PowerLifter/obj/Debug/net7.0/PowerLifter.assets.cache
/PowerLifter/obj/Debug/net7.0/PowerLifter.csproj.AssemblyReference.cache
/PowerLifter/obj/Debug/net7.0/PowerLifter.GeneratedMSBuildEditorConfig.editorconfig
/PowerLifter/obj/Release/net7.0/PowerLifter.assets.cache
/PowerLifter/obj/Release/net7.0/PowerLifter.csproj.AssemblyReference.cache
/PowerLifter/obj/Release/net7.0/PowerLifter.GeneratedMSBuildEditorConfig.editorconfig
/PowerLifter/obj/PowerLifter.csproj.nuget.dgspec.json
/PowerLifter/obj/project.assets.json
/PowerLifter/obj/project.nuget.cache
/Powerlifting.Service/obj/Debug/net7.0/Powerlifting.Service.assets.cache
/Powerlifting.Service/obj/Debug/net7.0/Powerlifting.Service.GeneratedMSBuildEditorConfig.editorconfig
/Powerlifting.Service/obj/Release/net7.0/Powerlifting.Service.assets.cache
/Powerlifting.Service/obj/Release/net7.0/Powerlifting.Service.GeneratedMSBuildEditorConfig.editorconfig
/Powerlifting.Service/obj/Powerlifting.Service.csproj.nuget.dgspec.json
/Powerlifting.Service/obj/project.assets.json
/Powerlifting.Service/obj/project.nuget.cache
